/*COMMON*/
body {
	font-family: Open Sans, Segoe UI, Tahoma, sans-serif;
}
img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

.small-wrap {
	max-width: 992px;
	margin: auto;
	margin-bottom: 24px;
}
.bg-opt {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.text-r {
	text-align: right;
}
.text-c {
	text-align: center;
}

/*HEADER*/
/*Top Nav*/
header .top-nav {
	padding: 1% 2%;
	margin-bottom: 0;
}

/*Menu Nav*/
.menu-nav ul li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 11px;
	margin-left: 3px;
	line-height: 20px;
}
.menu-nav ul li a {
	color: rgb(0, 0, 0);
}
.hamburger {
	font-size: 20px;
	color: grey;
}
.lang ul li a {
	border-right: 1px solid black;
	padding: 0 5px;
}
.lang ul li:last-child a {
	border: none;
}

/*Jumbotron*/
.jumbotron {
	background-image: url("../img/hero-bg.jpg");
	height: 600px;
	position: relative;
}
.jumbotron .teaser {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	max-width: 50%;
}
.jumbotron .teaser h1 {
	font-size: 60px;
}
.teaser p {
	padding: 3% 0;
	font-size: 23px;
	font-weight: 400;
}

/*MAIN*/
/*Products*/
#products .inner-col {
	padding: 10% 5%;
}
#products .content-col {
	background-color: #fafafa;
}
#products .content-col h2 {
	padding-top: 5%;
	font-size: 50px;
	font-weight: 400;
}
#products .content-col p {
	padding: 2%;
	font-size: 28px;
	font-weight: 600;
}
#products .content-col a {
	font-size: 20px;
}

/*Iphone*/
.iphone {
	background-image: url("../img/HelbizBanner.jpg");
	height: 400px;
}
.iphone img {
	display: block;
	margin: auto;
	max-width: 300px;
	position: relative;
	top: 15%;
}

.cursor-iphone .inner-col {
	padding: 6% 27%;
}
.cursor-iphone .inner-col h4 {
	font-size: 25px;
}
.cursor-iphone .inner-col p:last-child {
	font-size: 10px;
}

/*Advisor*/
.advisor {
	background-image: url("../img/ScooterHelbiz-2400.jpg");
	height: 400px;
}
.advisor .inner-col {
	margin-top: 10%;
	padding: 5% 15%;
}
.advisor .inner-col,
.advisor .inner-col a {
	color: white;
}
.advisor .inner-col h2 {
	font-size: 50px;
}
.advisor .inner-col p {
	padding: 3% 0;
}

/*App and Find*/
.app-find [class*="col-"]:first-child .inner-col .content-col {
	background: linear-gradient(#405467, #252f39);
}
.app-find [class*="col-"]:last-child .inner-col .content-col {
	background: linear-gradient(0.25turn, #8395ab, #7a8ea9, #6c83a3);
}
.app-find .inner-col .content-col {
	overflow: hidden;
	height: 400px;
}
.app-find [class*="col-"]:first-child .inner-col {
	padding-right: 12px;
}
.app-find [class*="col-"]:last-child .inner-col {
	padding-left: 12px;
}
.app-find .inner-col p,
.app-find .inner-col h2,
.app-find .inner-col a {
	color: white;
	padding: 1% 0;
}

/*RESPONSIVE*/
@media all and (max-width: 767px) {
	/*Header*/
	header .top-nav {
		padding: 2%;
	}
	/*MAIN*/
	#products .inner-col {
		padding: 5%;
	}
	/*Iphone*/
	.iphone img {
		top: 18%;
	}
	.cursor-iphone {
		margin-bottom: 2%;
	}
	.cursor-iphone .inner-col {
		margin-top: 18%;
		padding: 0;
	}
	.cursor-iphone [class*="col-"]:last-child .inner-col {
		margin-top: 3%;
	}
	.cursor-iphone .inner-col p:first-child {
		font-weight: 600;
	}
	.cursor-iphone .inner-col p,
	.cursor-iphone .inner-col p:last-child {
		font-size: 20px;
	}
}

@media all and (min-width: 768px) and (max-width: 991px) {
	/*Header*/
	header .top-nav {
		padding: 2%;
	}
	/*MAIN*/
	#products .inner-col {
		padding: 5%;
	}
	/*Iphone*/
	.iphone img {
		top: 25%;
	}
	.cursor-iphone {
		margin-bottom: 4%;
	}
	.cursor-iphone .inner-col {
		padding: 6% 30%;
	}
}
