/*COMMON*/
body {
	font-family: Open Sans, Segoe UI, Tahoma, sans-serif;
}
img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

.text-r {
	text-align: right;
}
.text-c {
	text-align: center;
}

/*HEADER*/
/*Top Nav*/
header .top-nav {
	margin: auto;
	padding: 1% 2%;
	max-width: 900px;
}

/*Menu Nav*/
.menu-nav ul li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 11px;
	margin-left: 3px;
	line-height: 20px;
}
.menu-nav ul li a {
	color: rgb(0, 0, 0);
}
.hamburger {
	font-size: 20px;
	color: grey;
}
.lang ul li a {
	border-right: 1px solid black;
	padding: 0 5px;
}
.lang ul li:last-child a {
	border: none;
}

/*Jumbotron*/
.jumbotron {
	background-image: url("../img/hero-bg.jpg");
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.jumbotron .teaser {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	max-width: 50%;
}
.jumbotron .teaser h1 {
	font-size: 60px;
}
.jumbotron .teaser p {
	padding: 3% 0;
	font-size: 23px;
	font-weight: 400;
}

/*MAIN*/
/*Products*/
#products .inner-col {
	padding: 10% 5%;
}
#products .content-col {
	background-color: #fafafa;
}
#products .content-col h2 {
	padding-top: 5%;
	font-size: 50px;
	font-weight: 400;
}
#products .content-col p {
	padding: 2%;
	font-size: 28px;
	font-weight: 600;
}
#products .content-col a {
	font-size: 20px;
}

/*RESPONSIVE*/
@media all and (max-width: 767px) {
	/*Header*/
	header .top-nav {
		padding: 2%;
	}
	/*MAIN*/
	#products .inner-col {
		padding: 5%;
	}
}

@media all and (min-width: 768px) and (max-width: 991px) {
	/*Header*/
	header .top-nav {
		padding: 2%;
	}
	/*MAIN*/
	#products .inner-col {
		padding: 5%;
	}
}
